<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
    <form>
      <div class="row" ng-show='ticket.id!=null'>
        <div class="col-sm-6 col-md-6">
          <fieldset>
            <legend>Customer</legend>
            <div class="form-group">
              <label for="name">name</label>
              <input disabled=true type='text' name='name' id='name' class="form-control" ng-model='ticket.owner.name' />
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input disabled=true type='text' name='email' id='email' class="form-control" ng-model='ticket.owner.email' />
            </div>
          </fieldset>
        </div>
        <div class="col-sm-6 col-md-6">
          <fieldset>
            <legend>Assignee</legend>
            <div class="form-group">
              <label for="name">name</label>
              <input disabled=true type='text' name='name' id='name' class="form-control" ng-model='ticket.assignee.name' />
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input disabled=true type='text' name='email' id='email' class="form-control" ng-model='ticket.assignee.email' />
            </div>
          </fieldset>
        </div>
      </div>
      <fieldset>
        <legend>Ticket</legend>
        <div class="form-group" ng-show="ticket.id!=null">
          <label for="status">Status</label>
          <select disabled="true" name='status' id='status' class="form-control" ng-model='ticket.status'>
            <option value="">All</option>
            <option value="open">Open</option>
            <option value="inprogress">In progress</option>
            <option value="closed">Closed</option>
          </select>
        </div>
        <div class="form-group" ng-show="ticket.id!=null">
          <label for="created_at">Created at</label>
          <input disabled=true type='text' name='created_at' id='created_at' class="form-control" ng-model='ticket.created_at' />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input ng-disabled="ticket.id!=null" type='text' name='description' id='description' class="form-control" ng-model='ticket.description' />
        </div>
        <div class="form-group" ng-show="ticket.id!=null">
          <label for="resolution">Resolution</label>
          <input ng-disabled='ticket.status!="inprogress"' type='text' name='resolution' id='resolution' class="form-control" ng-model='ticket.resolution' />
        </div>
        <div class="form-group" ng-show='ticket.closed_at'>
          <label for="closed_at">Closed at</label>
          <input disabled=true type='text' name='closed_at' id='closed_at' class="form-control" ng-model='ticket.closed_at' />
        </div>
      </fieldset>
      <div ng-show='errors' class="alert alert-danger" role="alert">
        <div ng-repeat='(key, values) in errors'>
          <h4>{{key}}</h4>
          <ul>
            <li ng-repeat='value in values' >{{value}}</li>
          </ul>
        </div>
      </div>
      <div class='actions'>
        <a ng-show='ticket.id==null' ng-click='save()' class='btn btn-primary' >Save</a>
        <a ng-show='ticket.id && ticket.status=="open"' ng-click='start()' class='btn btn-primary' >Start</a>
        <a ng-show='ticket.status=="inprogress"' ng-click='close()' class='btn btn-primary' >Close</a>
      </div>
    </form>
  </div>
</div>
