<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
    <form>
      <fieldset>
        <legend>User</legend>
        <div class="form-group">
          <label for="name">Name</label>
          <input type='text' name='name' id='name' class="form-control" ng-model='user.name' />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type='email' name='email' id='email' class="form-control" ng-model='user.email' />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type='password' name='password' id='password' class="form-control" ng-model='user.password' />
        </div>
        <div class="form-group">
          <label for="password_confirmation">Password Confirmation</label>
          <input type='password' name='password_confirmation' id='password_confirmation' class="form-control" ng-model='user.password_confirmation' />
        </div>
      </fieldset>
      <div ng-show='errors' class="alert alert-danger" role="alert">
        <div ng-repeat='(key, values) in errors'>
          <h4>{{key}}</h4>
          <ul>
            <li ng-repeat='value in values' >{{value}}</li>
          </ul>
        </div>
      </div>
      <div class='actions'>
        <a ng-click='save()' class='btn btn-primary' >Save</a>
        <a ng-click='delete()' class='btn btn-danger' >Delete</a>
      </div>
    </form>
  </div>
</div>
