<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-6 col-lg-3">
    <form ng-submit="filter()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type='text' name='email' id='email' class="form-control" ng-model='email' />
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select name='status' id='status' class="form-control" ng-model='status'>
          <option value="">All</option>
          <option value="open">Open</option>
          <option value="inprogress">In progress</option>
          <option value="closed">Closed</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default">Filter</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Tickets</div>

      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-condensed">
          <tr>
            <th>Id</th>
            <th>Owner</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Assigned to</th>
            <th>Closed at</th>
          </tr>
          <tr ng-repeat='ticket in tickets'>
            <td><a ng-href="{{hash}}  /tickets/{{ticket.id}}">#{{ticket.id}}</a></td>
            <td>{{ticket.owner.name}}</td>
            <td>{{ticket.description}}</td>
            <td>{{ticket.status}}</td>
            <td>{{ticket.created_at}}</td>
            <td>{{ticket.assignee.name}}</td>
            <td>{{ticket.closed_at}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
