<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Users</div>

      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-condensed">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created at</th>
          </tr>
          <tr ng-repeat='user in users'>
            <td><a ng-href="{{hash}}  /users/{{user.id}}">#{{user.id}}</a></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{ticket.created_at}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
